modules = ["nodejs-20"]

[[ports]]
localPort = 3000
externalPort = 3000

[[ports]]
localPort = 3002
externalPort = 3002

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 5174
externalPort = 3003

[[ports]]
localPort = 5175
externalPort = 4200

[[ports]]
localPort = 5176
externalPort = 5000

[nix]
packages = ["psmisc"]

[agent]
expertMode = true

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Frontend Server"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Backend Server"

[[workflows.workflow]]
name = "Frontend Server"
author = "agent"

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev -- --host 0.0.0.0 --port 5000 --clearScreen false"
waitForPort = 5000

[[workflows.workflow]]
name = "Backend Server"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "node server/index.js"
waitForPort = 3000

[workflows.workflow.metadata]
outputType = "console"
